
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat' , sans-serif;

}
body{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #1c0e23;
}
.container{
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.btn{
  position: relative;
  width: 155px;
  height: 50px;
  margin: 20px;
}
a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255,0.05);
  box-shadow:0 15px 35px rgba(0,0,0,0.2) ;
  border-top:1px solid rgba(255,255,255,0.1) ;
  border-bottom:1px solid rgba(255,255,255,0.1) ;
  border-radius: 30px;
  color: white;
  z-index: 1;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden ;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}
.btn:hover a{
  letter-spacing: 3px;
}
a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left,rgba(255,255,255,0.15),transparent );
  transform: skewX(45deg) translate(0) ;
  transition: 0.5s;
}
.container .btn:hover a::before
{
  transform: skewX(45deg) translate(200%) ;
}
.container .btn::before{
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #ec0505;
  border-radius: 10px;
  transition: 0.5s;

}
.container .btn:hover::before{
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px ;
  transition-delay: 0.5s;
}
.container .btn::after{
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top:-5px;
  width: 30px;
  height: 10px;
  background: red;
  border-radius: 10px;
  transition: 0.5s;

}
.container .btn:hover::after{
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px ;
  transition-delay: 0.5s;
}
.container .btn:nth-child(1)::before,
.container .btn:nth-child(1)::after
{
  
  box-shadow: 0 0 5px #ff1f71,
0 0 15px #ff1f71,
0 0 30px #ff1f71,
0 0 60px #ff1f71;
}
.container .btn:nth-child(2)::before,
.container .btn:nth-child(2)::after
{
  background: #2bd2ff;
  box-shadow: 0 0 5px #2bd2ff,
  0 0 15px #2bd2ff,
  0 0 30px #2bd2ff,
  0 0 60px #2bd2ff;
}
.container .btn:nth-child(3)::before,
.container .btn:nth-child(3)::after
{
  background: #1eff45;
  box-shadow: 0 0 5px #1eff45,
  0 0 15px #1eff45,
  0 0 30px #1eff45,
  0 0 60px #1eff45;
}
/*.......................................................*/

span{
  color: #fff;
  position: relative;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  padding: 15px 30px;
  letter-spacing:1px ;
  cursor: pointer;
  border-radius: 50px;
  margin-left: 70px;
  overflow: hidden;
}
span:before{
  content: "";
  position: absolute;
  height: 100px;
  width: 5px;
  background: #f3f3f3;
  box-shadow: 0 0 0 10px #fff;
  filter: blur(1px);
  opacity: 0.9;
  top: -30px;
  transition:0.7s ;
  transform: rotate(-20deg)translateX(-60px);
}
span:hover:before{
  transform: rotate(-20deg)translate(140px,70px);
}

.btn1 {

  background: linear-gradient(to right, #03effe, #026be2);
}
.btn2{
  background: linear-gradient(to left,#fe03b4,#ee0202);
}



